# Python Exercises - Day 1

In [1]:

# 1) Reverse the following tuple
aTuple = (10, 20, 30, 40, 50)
# Expected output: (50, 40, 30, 20, 10)
reversed_tuple = aTuple[::-1]
reversed_tuple

(50, 40, 30, 20, 10)

In [2]:

# 2) Access value 20 from the following tuple
aTuple = ("Orange", [10, 20, 30], (5, 15, 25))
# Expected output: 20
value_20 = aTuple[1][1]
value_20

20

In [3]:

# 3) Swap the following two tuples
tuple1 = (11, 22)
tuple2 = (99, 88)
# Expected output:
# tuple1 = (99, 88)
# tuple2 = (11, 22)
tuple1, tuple2 = tuple2, tuple1
tuple1, tuple2

((99, 88), (11, 22))

In [4]:

# 4) Copy element 44 and 55 from the following tuple into a new tuple
tuple1 = (11, 22, 33, 44, 55, 66)
# Expected output: tuple2 = (44, 55)
tuple2 = tuple1[3:5]
tuple2

(44, 55)

In [5]:

# 5) Modify the first item (22) of a list inside a following tuple to 222
tuple1 = (11, [22, 33], 44, 55)
# Expected output: tuple1 = (11, [222, 33], 44, 55)
tuple1[1][0] = 222
tuple1

(11, [222, 33], 44, 55)

In [6]:

# 6) Count the number of occurrences of item 50 from a tuple
tuple1 = (50, 10, 60, 70, 50)
# Expected output: 2
occurrences_50 = tuple1.count(50)
occurrences_50

2

In [7]:

# 7) Add item 7000 after 6000 in the following Python List
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
# Expected output: [10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]
list1[2][2].append(7000)
list1

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [8]:

# 8) Given a Python list, find value 20 in the list, and if it is present, replace it with 200.
# Only update the first occurrence of a value.
list1 = [5, 10, 15, 20, 25, 50, 20]
# Expected output: list1 = [5, 10, 15, 200, 25, 50, 20]
index_20 = list1.index(20)
list1[index_20] = 200
list1

[5, 10, 15, 200, 25, 50, 20]

In [9]:

# 9) Write a Python program to change a given string to a new string where the first and 
# last chars have been exchanged.
string1 = "abcd"
# Expected output: "dbca"
new_string = string1[-1] + string1[1:-1] + string1[0]
new_string

'dbca'

In [10]:

# 10) Find all occurrences of “USA” in given string ignoring the case.
input_str = "Welcome to USA. usa awesome, isn't it?"
# Expected output: The USA count is: 2
count_usa = input_str.lower().count('usa')
count_usa

2